/* /css/v1.css | CSS 1 for frenchbones.github.io */
/* Made by FrenchBones */
/* Please contact me to use this style sheet */

body {
  background-color: White;
  font-family: "Lucida Console", Monospace;
}
hr {
  background-color: Black;
  padding: 1px;
}
#backHome {
  text-align: left;
  background-color: black;
  color: white;
  padding: 10px;
}
#main {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}
#backHome-header {
  text-align: left;
  background-color: black;
  color: white;
  padding: 10px;
}
a:link {
  color: Black;
  background-color: White;
}
a:visited {
  color: Black;
  background-color: White;
}
a:hover {
  color: White;
  background-color: Black;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#outline {
border:2px solid black;
}
img {
  max-width: 100%;
  height: auto;
}
