/* /css/v1.css | CSS 1 for frenchbones.github.io */
/* Made by FrenchBones */
/* Please contact me to use this style sheet */

body {
  background-color: White;
  font-family: "Lucida Console", Monospace;
}
hr {
  background-color: Black;
  padding: 1px;
}
#backHome {
  text-align: left;
  background-color: Black;
  color: White;
  padding: 10px;
}
#main {
  text-align: center;
  background-color: Black;
  color: White;
  padding: 10px;
}
a:link {
  color: Black;
  background-color: White;
}
a:visited {
  color: Black;
  background-color: White;
}
a:hover {
  color: White;
  background-color: Black;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#outline {
border:2px solid Black;
}
img {
  max-width: 100%;
}
iframe {
  max-width: 100%;
}
button {
  color: Black;
  background-color: White;
  font-family: "Lucida Console", Monospace;
  cursor: pointer;
  font-size: 16px;
  border:2px solid Black;
}
button:hover  {
  color: White;
  background-color: Black;
  font-family: "Lucida Console", Monospace;
  cursor: pointer;
  font-size: 16px;
  border:2px solid Black;
}
input {
  color: Black;
  background-color: White;
  font-family: "Lucida Console", Monospace;
  cursor: pointer;
  font-size: 16px;
  border:2px solid Black;
}
